body 
{
}
.container {
    overflow: hidden;
    width: 100%;
}

.box 
{
    white-space: nowrap

}
.leftpanel {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: dimgrey;
    width: 10%;
    height: 1000px;
}

    .box div 
    {
       
        display: inline-block;
        border: 1px solid black;
    }
    .box div li:hover
    {
        color:aqua;
        cursor:pointer;
    }
        .box div li 
        {
            font-family: openSansBold;
            font-size: 19px;
            font-weight: 700;
        }
        .box div ul {
            list-style: none;
            padding: 0;
        
        }
.mainpanel
{
    background-color:darkslategrey;
    width:100%;
    height:900px;
}
.panel1
{
    background-color:red;
    width:100px;
    height:100px;
}
